*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
html{
    font-size: 14px; /* 1rem*/
}
body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(180, 161, 125);
}
.container{
    max-width: 900px;
    margin: 0 auto 0 auto;
}
.fejlec{
    background: url(../img/logo.jpg);
    height: 200px;
}
h1{
    padding-left: 200px;
    padding-top: 8px;
    font-size: 3rem;
    color: white;
    text-transform: uppercase;
}
ul{
    list-style: none;
}
ul::after {
    content: "";
    clear: both;
    display: table;
  }
li{
    float: left;
    width: 12.5%;
    text-align: center;
    background: orange;
    border: 1px solid wheat
    }
    a{
        padding: 5px 0;
        width: 100%;
        display: inline-block;
        color:#ddd;
        text-decoration: none;
        }
        a:hover{
            text-decoration:underline;
            color:white
        }
        .kep1{
            float: left;
            margin: 5px 5px 0 0;
        }
        .kep2{
            float: right;
            margin: 0 0 0 5px;
        }
        .hasab{
            float: left;
            max-width: 50%;
            padding: 20px;
            padding-top: 25px;
            text-align: justify;
        }
        .bal{
            padding-right: 10px;
        }
        .jobb{
            padding-left: 10px;
        }
        .content::after {
            content: "";
            clear: both;
            display: table;
          }
          .content{
              background: white;
          }
          h2{
              color:white;
              background: rgb(156, 154, 154);
              padding: 5px 20px;
              margin-bottom: 20px;
          }
          .lablec{
              background:wheat;
              color: orange;
              margin-bottom: 1000px;
              text-align: center;
          }
          .header{
              position: sticky;
              top: 0;
          }